body{
    font-family: Ubuntu;
    font-size: 17px;
    box-sizing: border-box;
    margin: 0;
}
header{
    margin-left: 200px;
}
main{
    margin-left: 200px;
}
#cvlogo{

}
#battagwenaelle{
    font-weight: 400;
    justify-self: center;
    /*flex-grow: 1;*/
    padding-top: 200px;
    line-height: 50px;
}
#etudianteHEPL{
    /*flex-grow: 1;*/
}

.transparent{
    background-color: rgba(204,0,13,0.8);
    max-width: 600px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.intro{
    background-image: url("IMG/pexels-olia-danilevich-4974912.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
ul a{
   text-decoration: none;
    color: black;
}
ul~ul a{
    color: #AEAEAE;
    text-transform: uppercase;
}
.name{
    color: white;
    font-size: 2em;
}
h2{
    margin-bottom: 3em;
}
nav{
    display: grid;
    grid-template-areas: "h2 h2"
                         ". . "
}
#nav{
    grid-area: h2;
    display: none;
}
ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    justify-items: start;
}
ul~ul{
    justify-items: end;
}
.description{
    display: grid;
    grid-template-areas: "p1 p2 img"
                         "p1 p2 img"   ;
    min-height: 570px;
}

.description p:first-child{
    grid-area: p1;
}
.description p+p{
    grid-area: p2;
    align-self: end;
}
#photo{
    grid-area: img;
}
.introduction p{
    width: 420px;
    line-height: 2em;
    padding: 2em 0;
}
/*.description p+p:before{*/
/*    content: '-';*/
/*    font-size: 3em;*/
/*    color: #6A6A6A;*/
/*}*/
mark{
    color: #E30513;
    background-color: white;
}
.langage{
    display: grid;
    grid-gap: 1.7em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 1fr 1fr 1fr;
}
/*.langage svg{*/
/*    background-image: url("./IMG/pexels-pixabay-270348.jpg");*/
/*}*/
.langage section{
    display: grid;
    background-color: #F8F8F8;
    justify-items: center;
    border-radius: 2% 2% 2% 2%;
    line-height: 1.7em;
    font-size: 1em;
    color: #6A6A6A;
    text-align: center;
}
.langage figure img{
    align-self: center;
    border: 1px solid #EAEAEA;
    padding: 0.4em 0.6em;
}
.langage h3{
    display: none;
}
.langage h4{
    text-transform: uppercase;
    color: black;
    margin: 0 1em;
}
.js{
    grid-row: 2;
    grid-column: 3;
}
.html{
    grid-row: 3;
    grid-column: 1;
}
.css{
    grid-row: 3;
    grid-column: 2;
}
.sql{
    grid-row: 4;
    grid-column: 2;
}
.php{
    grid-row: 4;
    grid-column: 3;
}
#school{
    background-image: url("./IMG/pexels-burst-545057.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#school svg{
    width: 3%;
    background-color: #A3CEF0;
    padding: 1.2em ;
    border-radius: 50%;
    color: white;
}
#scolaire{
    font-size: 0.8235294117647059em; /*14/17*/
    text-transform: uppercase;
    padding: 78px 127px 60px;

}
.scolaire{
    background-color: rgba(204,0,13,0.8);
    max-width: 846px;
    color: #FFFFFF;
}
.school{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

}
.school li{
    font-size: 2.117647058823529em; /*36/17*/
    font-weight: 500;
    line-height: 2.770588235294118; /*47.1/17*/
    padding-left: 97px;
}
.xp{
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: grid;
    grid-template-columns: repeat(4,350px);
    grid-template-rows: repeat(4,250px);
    grid-gap: 1.5em;
    justify-content: center;
}
.xp small{
    font-size: 12px;
}
.patron img{
    border-radius: 50%;
    width: 100px;
}
.boulangerie{
    background-color: #8EC899;
    grid-row: 2/4;
    padding: 30px;

}
.me{
    justify-self: center;
    align-self: start;
    grid-column: 2;
}
.couture{
    background-color: #DEC2A0;
    grid-row: 3/5;
    grid-column: 2;
    padding: 30px;


}
.tailleur{
    background-color: #A3CEF0;
    grid-row: 2/4;
    padding: 30px;

}
.xp div input{
    border: none;
    min-width: 2em;
    min-height: 2em;
    font-size: 0.8235294117647059em;
    text-transform: uppercase;
    font-weight: 600;
    background-color: white;
    letter-spacing: 1px;
}
.xp div input{
    background-image: url("./IMG/Voir+.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 70px;
    background-position: top;

}
.xp div{
    grid-column: 4;
    grid-row: 2;
}
.red{
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: #E30513;
    color: white;
    text-transform: uppercase;
    padding: 1.5em 4.5em;
    margin-top: 70px;
    margin-bottom: 260px;
}
.red:hover{
    background-color: white;
    color: #E30513;
}
.jobdescription{
    display: grid;
    justify-content: center;
    min-height: 463px;
    grid-template-columns: repeat(2, 300px);
    line-height: 2em;
}
.jobdescription p+p{
    margin-left: 2em;
    grid-column: 2;
}
.qualites{
    display: grid;
    grid-gap: 1.5em;
    grid-template-rows: 100px 1fr;
    grid-template-columns: repeat(4, 1fr);
}
.qualites section{
    background-color: #F8F8F8;
    border-radius: 2% 2% 2% 2%;
    line-height: 2em;
    font-size: 1em;
}
.orga{
    grid-column: 1/2;
    grid-row: 2;
}
.auto{
    grid-column: 2/3;
    grid-row: 2;
}
.ponctuel{
    grid-column: 3/4;
    grid-row: 2;
}
.qualites input{
    grid-column: 4/5;
    grid-row: 2;
    border: none;
    min-width: 2em;
    min-height: 2em;
    font-size: 0.8235294117647059em;
    text-transform: uppercase;
    font-weight: 600;
    background-color: white;
    letter-spacing: 1px;
}
.qualites h2{
    grid-column: 1/-1;
    grid-row: 1/2;
}
.qualites h3{
    display: none;
}
.qualites h4{
    text-transform: uppercase;
    font-size: 0.8235294117647059em;
    margin-bottom: 0.4em;
    margin-top: 1em;
    line-height: 1.3em;
    max-width: 100%;
}
.qualites p{
    max-width: 100%;
}
.qualites figure{
    margin: 0 auto;
}
.qualites figure img{
    max-width: 100%;
    max-height: 10%;
    border-radius: 2% 2% 0% 0%;
}
.qualites p{
    max-width: 100%;
    font-size: 1.176470588235294em;
}
footer{
    background-color: black;
    color: white;
    display: grid;
}
footer section{
    display: inline-block;
}
footer a{
    color: #E30513;
    text-decoration: none;
}
.coordonneesp {
    font-weight: 500;
}
.contact p{
    color: #A8B3B3;
}
#mail{
    font-family: Ubuntu;
    padding: 1em;
}
footer figure{
    display: inline-block;
}
.hidden{
    display: none;
}
.ecole{
    border-top: 1px solid #EAEAEA;
}
footer{
    display: grid;
    font-size: 14px;/*14/17*/
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 150px ;
    min-height: 580px; /*580/14*/
    width: 100%;
    padding: 75px 120px;
}
.mail a:hover{
    background-color: #E30513;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
#contact{
    font-size: 24px;/*24/14*/
    margin-top: 0;
}
.coordonnees{
    font-size: 16px; /*16/14*/
}
.coordonnees p:hover{
    color: #e30513;
}
.contact{

}
.contact input[type="email"]{
    min-width: 350px;
    font-size: 16px; /*16/14*/
    border-radius: 5px 0px 0px 5px;
    border: none;
    min-height: 25px;
    position: relative;
}
.contact input[type="submit"]{
    background-color: #E30513;
    border: none;
    padding: 20.5px;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
}
footer .ecole{
    grid-column: 1/4;
    padding: 20px 350px;
    display: flex;
}
.ecole figure{
    flex: 1;
}